<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Quality Copiers</title>
    <link rel="icon" type="image/png" href="~/images/logo2.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="custom-navbar d-flex justify-content-between align-items-center px-4">
            <!-- right links -->
            <div class="d-flex gap-4">
                <a href="/" class="nav-link-custom">Home</a>
                <a href="/Home/Services" class="nav-link-custom">Services</a>
                <a href="/Home/Products" class="nav-link-custom">Products</a>
            </div>
            

            <!-- Logo in middle -->
            <div class="logo text-center">
                <img src="~/images/logo.png" alt="Logo" style="height:50px;">
            </div>

            <!-- left links -->
            <div class="d-flex gap-4">
                <a href="/Home/About" class="nav-link-custom">About us</a>
                <a href="/Home/Contact" class="nav-link-custom">Contact</a>
                <a href="/Account/Login" class="nav-link-custom">Sign in</a>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
