@model List<INSY7315_ElevateDigitalStudios_POE.Models.Quotation>

@{
    ViewBag.Title = "Quotations";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/quotations-styles.css" asp-append-version="true" />
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

<div></div>