@{
    ViewBag.Title = "Payments";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/quotations-styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/agrandir" rel="stylesheet">
</head>
<body>
    <div class="app-container">

        <!-- Main Content -->
        <main class="main-content">
            <div class="content-header">
                <h1 class="page-title">Payments</h1>
                <div class="header-actions">
                    <div class="search-container">
                        <input type="text" class="search-input" placeholder="Search payments ...">
                        <a class="search-icon">
                            <img src="~/images/search.png" width="10" height="10">
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="action-buttons">
                <button class="btn btn-secondary" onclick="showFilterModal()">
                    <a class="btn-icon">
                        <img src="~/images/filter-btn.png" width="20" height="20">
                    </a>
                    Filter
                </button>
            </div>
            
            <div class="table-container">
                <table class="quotations-table">
                    <thead>
                        <tr>
                            <th>Client Name</th>
                            <th>Invoice number</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr onclick="showInvoiceDetailsModal()">
                            <td>John Doe</td>
                            <td>#102515510</td>
                            <td><span class="status status-progress">Paid</span></td>
                        </tr>
                        <tr onclick="showDeleteInvoiceModal()">
                            <td>John Doe</td>
                            <td>#102515510</td>
                            <td><span class="status status-progress">Unpaid</span></td>
                        </tr>
                        <tr onclick="showInvoiceOptionsModal()">
                            <td>John Doe</td>
                            <td>#102515510</td>
                            <td><span class="status status-progress">Unpaid</span></td>
                        </tr>
                        <tr>
                            <td>John Doe</td>
                            <td>#102515510</td>
                            <td><span class="status status-progress">Unpaid</span></td>
                        </tr>
                        <tr>
                            <td>John Doe</td>
                            <td>#102515510</td>
                            <td><span class="status status-progress">Paid</span></td>
                        </tr>
                        <tr>
                            <td>John Doe</td>
                            <td>#102515510</td>
                            <td><span class="status status-progress">Unpaid</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>

    <!-- filter payments modal popup -->
    <div id="filterModal" class="modal-overlay" onclick="hideFilterModal()">
        <div class="filter-modal-Payments" onclick="event.stopPropagation()">
            <div class="modal-header">
                <h3 class="title">Filter Payments</h3>
                <button class="close-btn" onclick="hideFilterModal()">×</button>
            </div>
            <div class="payment-filter-options">
                <div class="filter-option" onclick="applyFilter('alphabetical')">Alphabetical - A-Z</div>
                <div class="filter-option" onclick="applyFilter('date-newest')">Date Added - Newest to Oldest</div>
                <div class="filter-option" onclick="applyFilter('date-oldest')">Date Added - Oldest to Newest</div>
                <div class="filter-option" onclick="applyFilter('recent')">Recently added</div>
            </div>
        </div>
    </div>

    <!-- invoice details modal popup -->
    <div id="invoiceDetailsModal" class="modal-overlay" onclick="hideInvoiceDetailsModal()">
        <div class="filter-modal-Payments" onclick="event.stopPropagation()">
            <div class="modal-header">
                <h3 class="title">Invoice #102515510</h3>
                <button class="close-btn" onclick="hideInvoiceDetailsModal()">×</button>
            </div>
            <div class="invoice-details">
                <div class="detail-title" >Company Name</div>
                <div class="details"></div>
                <div class="detail-title" >Name</div>
                <div class="details"></div>
                <div class="detail-title" >Mobile Number</div>
                <div class="details"></div>
                <div class="detail-title" >Address</div>
                <div class="details"></div>
                <div class="detail-title" >Amount</div>
                <div class="details"></div>
            </div>
        </div>
    </div>

    <!--Delete Payment Modal-->
    <div id="deletePaymentModal" class="modal-overlay" onclick="hideDeleteInvoiceModal()">
        <div class="filter-modal-Payments" onclick="event.stopPropagation()">
            <div class="modal-header">
                <h3 class="delete-title">Are you sure you would like to delete this invoice?</h3>
                <button class="close-btn" onclick="hideDeleteInvoiceModal()">×</button>
            </div>
            <div class="payment-filter-options">
                <div class="filter-option" >Yes</div>
                <div class="filter-option" onclick="hideDeleteInvoiceModal()">Cancel</div>
            </div>
        </div>
    </div>

    <!-- Invoice options modal -->
    <div id="invoiceOptionsModal" class="modal-overlay" onclick="hideInvoiceOptionsModal()">
        <div class="filter-modal-Payments" onclick="event.stopPropagation()">
            <div class="modal-header">
                <h3 class="delete-title"></h3>
                <button class="close-btn" onclick="hideInvoiceOptionsModal()">×</button>
            </div>
            <div class="payment-filter-options">
                <div class="filter-option" >View Invoice</div>
                <div class="filter-option" >Delete</div>
                <div class="filter-option" >Mark as Paid</div>
            </div>
        </div>
    </div>
    
    <!-- Added JavaScript for modal functionality -->
    <script>
    
         function showFilterModal() {
            document.getElementById('filterModal').style.display = 'flex';
        }
        
        function hideFilterModal() {
            document.getElementById('filterModal').style.display = 'none';
        }

         function showInvoiceDetailsModal() {
            document.getElementById('invoiceDetailsModal').style.display = 'flex';
        }
        
        function hideInvoiceDetailsModal() {
            document.getElementById('invoiceDetailsModal').style.display = 'none';
        }

        function showDeleteInvoiceModal(){
            document.getElementById('deletePaymentModal').style.display = 'flex';
        }

         function hideDeleteInvoiceModal(){
            document.getElementById('deletePaymentModal').style.display = 'none';
        }
        
        function showInvoiceOptionsModal(){
            document.getElementById('invoiceOptionsModal').style.display = 'flex';
        }

         function hideInvoiceOptionsModal(){
            document.getElementById('invoiceOptionsModal').style.display = 'none';
        }
        // Close modal when pressing Escape key
        document.addEventListener('keydown', function(event) {
            if (event.key === 'Escape') {
                hideFilterModal();
            }
        });
    </script>
</body>
</html>