@{
    ViewData["Title"] = "Contact";
}

@section PageCss {
    <link rel="stylesheet" href="~/css/website.css" />
}
<section class="contact-hero">
    <!-- Left side: form on top of image -->
    <div class="contact-left-image">
    </div>

    <!-- Right black panel -->
    <div class="contact-right-panel">
        <h2>Contact <br />Information</h2>
        <h3>Craig Diedricks</h3>
        <p>CEO</p>

        <h3>Address</h3>
        <p>134 Victoria Rd, Southfield, 7800, Cape Town</p>

        <h3>Phone</h3>
        <p>083 299 3890</p>

        <h3>Email</h3>
        <p>info@quaitycopiers.co.za</p>

        <h3>Business Hours</h3>
        <ul>
            <li>Monday - Friday: 8:00 AM - 5:00 PM</li>
            <li>Saturday: By appointment only</li>
            <li>Sunday: Closed</li>
        </ul>
        <h3>WhatsApp</h3>
        <a href="https://api.whatsapp.com/send/?phone=27832993890&text=Hi+Quality+Copiers%2C+I+would+like+to+inquire+about+your+services.&type=phone_number&app_absent=0" target="_blank" class="btn-whatsapp">
            Chat with us now!
        </a>
    </div>
</section>
