@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/Orbitron-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Dashboard container */
.dashboard-container {
    display: flex;
    min-height: 100vh;
}
.dashboard-main {
    flex: 1;
    padding: 30px;
    background-color: #f5f5f5;
}


/* Sidebar styling */
.dashboard-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* keep items at top */
    width: 250px;
    min-height: 100vh;
    background-color: #000;
    color: #fff;
    padding: 20px;
}



/* Sidebar top (logo + company) */
.sidebar-top {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    gap: 10px;
}

.sidebar-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.sidebar-company {
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
    margin: 0;
    color: #fff;
}

/* Account section */
.sidebar-account {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.user-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.user-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-name {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
}

.user-job {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #98b5df;
}

/* Sidebar menu */
.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}


    .sidebar-menu li {
        margin-bottom: 5px;
    }

        .sidebar-menu li a {
            font-family: 'Poppins', sans-serif;
            font-size: 12px;
            color: #fff;
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 5px 10px;
            border-radius: 10px;
            transition: color 0.2s ease, transform 0.2s ease;
        }

            .sidebar-menu li a i {
                font-size: 14px;
            }

            .sidebar-menu li a:hover {
                color: #98b5df;
                background-color: rgba(255,255,255,0.1);
                transform: translateX(5px);
            }

            /* Highlight specific menu items */
            .sidebar-menu li a.highlight-menu {
                color: #98b5df;
            }

                .sidebar-menu li a.highlight-menu i {
                    color: #98b5df;
                }

                .sidebar-menu li a.highlight-menu:hover {
                    color: #007bff;
                }

                    .sidebar-menu li a.highlight-menu:hover i {
                        color: #007bff;
                    }

.menu-spacer {
    flex-grow: 2; /* pushes bottom menu to bottom */
}