/* Font setup (point to your font in wwwroot/fonts/) */
@font-face {
    font-family: 'Agrandir';
    src: url('../fonts/Agrandir-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.custom-navbar {
    background-color: white;
    height: 70px;
    border-bottom: 1px solid #ddd;
}

.nav-link-custom {
    font-size: 13.3px;
    font-family: 'Agrandir', sans-serif;
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
    letter-spacing: 0.5px;
    padding: 8px 12px;
}

    .nav-link-custom:hover {
        color: #383838;
        transform: translateY( -2px )/* change hover color if needed */
    }

.logo img {
    display: block;
    margin: 0 auto;
    height: 45px;
    transition: transform 0.3s ease;
}
.logo img:hover {
    transform: scale(1.05);
}
